{% extends 'layout.html' %}

{% block title %}
<title>LOGIN FORM</title>
{% endblock %}

{% block content %}
<div class="container jumbotron">
    <form method="post">
        {% csrf_token %}
        <label for="un"><b>Enter USERNAME:</b></label>
        <input type="text" id="un" name="un" class="from-control">
        <br>
        <br>
        <label for="pw"><b>Enter PASSWORD:</b></label>
        <input type="password" id="pw" name="pw" class="from-control">
        <br>
        <br>
        <center>
            <input type="submit" value="LOGIN" class="btn btn-outline-success col-4">
        </center>

    </form>

</div>
{% endblock %}