{% extends 'layout.html' %}

{% block title %}
    <title>SHOW ORDER</title>
{% endblock %}

{% block content %}
<table class="table table-dark">
    <thead>
        <tr>
            <th>ORDER ID</th>
            <th>PRODUCT</th>
            <th>QUANTITY</th>
            <th>PRICE</th>
            <th>ADDRESS</th>
            <th>PHONE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in data %}
        <tr>
            <td>{{obj.oid}}</td>
            <td>{{obj.product_name}}</td>
            <td>{{obj.quantity}}</td>
            <td>{{obj.del_date}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.address}}</td>
            <td>{{obj.phone}}</td>
            <td>
                <button class="btn btn-warning btn-sm"><a href="{% url 'update_url' obj.id %}">UPDATE</a></button>
                <button class="btn btn-danger btn-sm"><a href="{% url 'delete_url' obj.id %}">DELETE</a></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
